body{
    margin: 0;
}

.container{
    display: flex;
}

.left-side{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
}


.photo{
    background-color: #161b25;
    height: 49%;
}


.main-photo{
    margin-left: 8%;
    margin-top: 10%;
}



.main-photo{
    width: 92%;
    margin: 15% 0 0 8%;
}



.margin-bottom{
    height: 12%;
    margin-left: 8%;
    opacity: 0.9;
}

.education{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    margin: 0% 0 0 8%;
}

.big-word-education{
    font-size: 40px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.education-first{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10%;
    margin-left: 23%;
}

.words{
    font-size: 30px;
}


.hobby{
    display: flex;
    flex-direction: column;
    opacity: 88%;
    margin: 0 0 0 8%;
}

.big-word-hobby{
    font-size: 40px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.hobbies-list{
    
}

.travel{
    margin-top: 3%;
}

.black-circle-size{
    width: 4%;
}

.hobby-words{
    font-size: 30px;
    margin-left: 12%;
}



















    /* Right-side */

.right-side{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    }

.about-me{
    background-color: #161b25;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.first-name{
    margin: 8% 0 0 7%;
    font-size: 118px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Montserrat Alternates', sans-serif;
}

.second-name{
    margin: 0 0 0 7%;
    font-size: 118px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Montserrat Alternates', sans-serif;
}

.work{
    margin: 4% 0 10% 8%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Montserrat Alternates', sans-serif;
}

.work-span{
    font-size: 58px;
    border: 1px solid #161b25;
    background-color: grey;
    opacity: 60%;
}

.tell{
    font-size: 30px;
    margin: 0 0 0 7%;
    font-family: 'Montserrat', sans-serif;
}

.email-addres{
    font-size: 30px;
    margin: 9% 0 16% 7%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
}

.addres-info{
    margin-left: 21%;
}

.exp{
    display: flex;
    flex-direction: column;
    opacity: 88%;
    margin: 0 0 0 8%;
}

.big-word-work{
    font-size: 40px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.work-vars-first{
    display: flex;
    margin-top: 7%;
}

.words-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.words-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10%;
}

.work-rank{
    font-size: 30px;
    font-weight: bold;
}

.text-lorem{
    font-size: 30px;
}

.work-vars-two{
    display: flex;
    margin-top: 7%;
}

.work-vars-three{
    display: flex;
    margin-top: 7%;
}


.tools{
    display: flex;
    flex-direction: column;
    opacity: 88%;
    margin: 0 0 0 8%;
}

.big-word-tools{
    font-size: 40px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}


.tools-all-info{
    display: flex;
    flex-direction: row;
    margin-top: 3%;
}

.names{
    font-size: 30px;
}

.tools-first-circles{
    margin-left: 15%;
}

.words-tools{
    margin-top: 3%;
}

.circles-for-name{
    width: 15%;
    margin-right: 7%;
    margin-top: 5%;
}

.tools-second-circles{
    margin-right: 15%;
}